.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cardGridHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0.75rem 0;
  margin: 0;
  font-family: var(--font-primary);
  font-size: 2.25rem;
  color: var(--text-header-color);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25rem;
  background: #f3f6f8;
  backdrop-filter: blur(10px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.04);
  font-family: var(--font-secondary);
  font-size: 2.25rem;
  color: var(--text-secondary-color);
}

.cardTitle {
  margin-top: 1rem;
  font-family: "roboto", sans-serif;
  font-width: 400;
  font-size: 1rem;
  color: black;
}

.unitToggleContainer {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: 4rem;
}

.unitToggleBarText {
  font-family: "roboto", sans-serif;
  font-size: 10px;
  color: rgb(166, 166, 166);
}

.unitToggleBar {
  display: flex;
  align-items: center;
  padding: 0 0.05rem;
  width: 2.5rem;
  height: 1.2rem;
  border: 1px solid rgba(166, 166, 166, 0.6);
  border-radius: 10px;
  cursor: pointer;
}

.unitToggleButton {
  background: linear-gradient(90deg, #dcdcdc 0%, #aeaeae 100%);
  border: none;
  border-radius: 50%;
  width: 0.95rem;
  height: 0.95rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.unitToggleButton.toggled {
  transform: translateX(1.25rem);
}

@media (max-width: 925px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}