.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  width: 100%;
  background: #f3f5f6;
  border: 2px solid #ffffff;
  border-radius: 24px;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.4);
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2.25rem;
  color: #304765;
}

.cardHeader {
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--text-header-color)
}

@media (max-width: 925px) {

}