.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cardGridHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
  font-family: var(--font-primary);
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--text-header-color)
}

.cardTitle {
  margin-top: 1rem;
  font-family: var(--font-primary);
  font-size: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 25rem;

  background: var(--map-base-color);
  border: 2px solid var(--white);
  border-radius: 24px;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.4);

  font-family: var(--font-secondary);
  font-size: 2.25rem;
  color: var(--text-secondary-color);
}

.unitToggle {
  width: 3rem;
  height: 1rem;
  border-radius: 4px;
  border: solid 1px grey;
  position: absolute;
  top: 1rem;
  right: 1rem;
}


@media (max-width: 925px) {
  .cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

}